<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/stayle.css">
    <link rel="icon" type='image/png' href="../static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <title>Tais Teixeira</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil tais.PNG" alt="Foto da Tais">
            <h1>Tais Teixeira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/tais-teixeira-29070321b/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Taistlct">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5535910032569">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/taisteixeiradev/">
                    <i class="bi bi-instagram"></i>
                </a>

            </div>

        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>

            </ul>

        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Tais Teixeira</h2>
                <span id="subtitle" class="text-white text-shadow">Python Junior</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Eu acredito no poder da tecnologia e sempre fui fascinada por ela, comecei a fazer cursos
                        relacionados a computador aos 11 anos e sempre fui muito curiosa, sempre procurava saber de onde
                        surgia esse mundo tão incrível. Porem aos 15 anos de idade tive que dar uma pausa nos estudos
                        pois tive que começar a trabalhar para comprar minhas coisas, mas sempre me destaquei na área da
                        tecnologia, sempre fui chamada para resolver problemas relacionados a computadores e impressoras
                        (risos), por mas que minha função na empresa não fosse essa.
                        Conheci a linguagem Python aos 19 anos por meio de um amigo que é DEV e me apaixonei pela
                        linguagem, desde então comecei a estudar e não parei mais, já fiz algumas automações web, adoro
                        trabalhar com as bibliotecas pandas e selenium. Agora estou começando a introduzir outras
                        linguagens em meus códigos como C# e Javascript, confesso que estou gostando bastante.
                        Para mim não existe a palavra impossível, e por isso cada desafio é feito com toda minha
                        dedicação.
                    </p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/perfil tais.PNG" alt="Foto da Tais"
                            data-anime="left">
                    </div>
                    <div class="col-md-8" data-anime="rigth">
                        <h3>Python Junior</h3>
                        <p>Fazem 4 anos que estudo python e me sinto preparada para atuar no mercado de trabalho,
                            sou back-end mas estou me aperfeiçoando para ser fullstack.
                        </p>
                        <div class="row mt-5 mb-5">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter"> 15 de Dezembro de 1997
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter"> 25 anos
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        Trabalho: <span class="fw-lighter"> Freelancer
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter"> Rio de Janeiro
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter"> Rio de Janeiro
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter"> Praia
                                        </span>
                                    </li>
                                </ul>

                            </div>

                        </div>

                        <p>Eu pretendo trabalhar somente como Freelancer ou homeoffice mas toda oportunidade é bem vinda.
                        </p>

                    </div>

                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como estudante de tecnologia eu adquiri algumas habilidades tecnicas e não tecnicas,
                    a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 35%">35%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Javascript</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25%">25%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 20%">20%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Selenium</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Pandas</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Pysimplegui</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%">50%</div>
                        </div>
                    </div>
                </div>




                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <p></p>
                        <div class="cv-item" data-anime="up">
                            <h3>Programação em Python do basico ao avançado</h3>
                            <h5>2019 - 2022</h5>
                            <p><em>Geek Universit</em></p>
                            <p>Curso extra curricular com foco em Python para iniciantes.
                                com carga horario total de 63.5 horas
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h3>Criando robôs com Python - Automatizando processos</h3>
                            <h5>2022 - 2022</h5>
                            <p><em>Udemy</em></p>
                            <p>Recebi conceitos de como automatizar tarefas do cotidiano.
                                com carga horaria total de 7.5 horas
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h3>Introdução ao Python</h3>
                            <h5>2022 - 2022</h5>
                            <p><em>Alfahelix - Escola de computação</em></p>
                            <p>Curso rapido extra curricular com foco em Python para iniciantes.
                                com carga horario total de 2 horas
                            </p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Trabalhos Freelancer</h3>
                        <p></p>

                        <div class="cv-item" data-anime="up">
                            <h3>Automação com selenium</h3>
                            <h5>2022 - 2022</h5>
                            <p><em>Cliente Final</em></p>
                            <p>Fiz uma automação em selenium para um cliente final, em um site especifico da empresa na
                                qual ele trabalhava e precisava automatizar as suas tarefas repetitivas.
                            </p>
                        </div>

                    </div>
                </div>


            </div>

        </section>

        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portifólio</h2>

                <div id="carouselPortifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="..\static\img\portifoliotais.png" class="card-img-top"
                                            alt="Projeto Disparador Whatsapp">
                                        <div class="card-body">
                                            <h5 class="card-title">Meu portifolio </h5>
                                            <p class="card-text">Projeto criado com HTML, Javascript, CSS e Python. Foi meu primeiro projeto com front-end</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Taistlct" target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="..\static\img\projetowpp.jpg" class="card-img-top"
                                            alt="Projeto Disparador Whatsapp">
                                        <div class="card-body">
                                            <h5 class="card-title">Disparador de mensagens Whatsapp</h5>
                                            <p class="card-text">Projeto back-end criado em python com selenium e
                                                pandas. Projeto completo no meu github</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Taistlct" target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="col">
                                <div class="card">
                                    <img src="..\static\img\projetotestador.png" class="card-img-top"
                                        alt="Projeto Automação teste de portas">
                                    <div class="card-body">
                                        <h5 class="card-title">Projeto de automação de teste de portas na web</h5>
                                        <p class="card-text">Projeto back-end criado em python com selenium. Projeto
                                            completo no meu github
                                        </p>
                                        <p></p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/Taistlct" target="_blank" class="btn btn-outline-primary"><i
                                                    class="bi bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

        </section>

        <section class='pt-5 pb-5' id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col md-5" data-anime="up">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"> Localização:</i></h4>
                                <p>Rio de Janeiro, RJ</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"> Email:</i></h4>
                                <p>devpython.22@hotmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.182766626772!2d-43.18260718470401!3d-22.906628685011928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997f60b4f67263%3A0xefbde94c19437c91!2sRua%20da%20Carioca%20-%20Centro%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2020050-008!5e0!3m2!1spt-BR!2sbr!4v1672893529314!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>

                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email" required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>

                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>

            </div>

        </section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Tais Teixeira</strong>
            </div>

        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>
